[buildout]
extends = https://dist.plone.org/release/6.1.5/versions.cfg
show-picked-versions = true
develop = .
parts =
    instance
    omelette

[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8080
eggs =
    Plone
    collective.concepts
    Products.PrintingMailHost
    plone.app.debugtoolbar
    plone.reload

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}

[versions]
collective.taxonomy = 3.1.7
eea.facetednavigation = 16.4
plone.app.debugtoolbar = 1.4.0
plone.reload = 4.0.0
Products.PrintingMailHost = 1.1.8
z3c.batching = 3.1
z3c.jbot = 2.2
z3c.table = 3.0
zope.dublincore = 5.1
